[submodule "votacao-app"]
	path = votacao-app
	url = https://github.com/leoalmeida/votacao-app.git
[submodule "ms-associados"]
	path = ms-associados
	url = https://github.com/leoalmeida/ms-associados.git
[submodule "ms-sessoes"]
	path = ms-sessoes
	url = https://github.com/leoalmeida/ms-sessoes.git
[submodule "ms-pautas"]
	path = ms-pautas
	url = https://github.com/leoalmeida/ms-pautas.git
