[submodule "votacao-app"]
	path = votacao-app
	url = https://github.com/leoalmeida/votacao-app
[submodule "ms-associados"]
	path = ms-associados
	url = https://github.com/leoalmeida/ms-associados
[submodule "ms-sessoes"]
	path = ms-sessoes
	url = https://github.com/leoalmeida/ms-sessoes
[submodule "ms-pautas"]
	path = ms-pautas
	url = https://github.com/leoalmeida/ms-pautas
